#index h1{
    text-align: center;
}
#index h3{
    margin-left: 50px;
}
.serv-os, .lang, .ip, .my-os{
    position: relative;
    left: 20px;
}
.descr{
    color: red;
}
.content{
    color: green;
}